.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


a {
  color: #E91A21;
  font-weight: bold;
}

.btn-primary {
  background-color: #E91A21;
}

.hidden {
  display: none;
}

.card {
  border: none;
  margin-top: 10px;
}

.container {
  margin-bottom: 120px;
  border: 2px solid #333;
  border-radius: 555px 25px 15px 25px/25px 5px 35px 555px;
}

.container .container {
  border: none;
}

.media {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 12px 15px 25px/25px 95px 35px 85px;
  -webkit-box-shadow: 5px 3px 5px 0px rgba(209,205,209,1);
  -moz-box-shadow: 5px 3px 5px 0px rgba(209,205,209,1);
  box-shadow: 5px 3px 5px 0px rgba(209,205,209,1);
  margin: 5px 0;
  bordeR: solid 2px black;
  display: flex;
  flex-wrap: wrap;
}

.media-body {
  padding: 0 10px;
}

.media-body a {
  color: #000;
}
.media-body a:hover,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #E91A21;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
